ul.header {
    list-style-type: none;
    margin: 0;
    padding:0;
}

li.inline {
    display: inline;
}

#left-header {
    display: inline;
}

#right-header {
    float: right;
}

#logo {
    display: block;
    width: 300px;
    
}
#grid-icon {
    display:block;
    width: 50px;
}
#profile-picture {
    display: block;
    width: 50px;
}