/*
Classes
*/
li.inline-left {
    float: left;
    padding: 5px;
}

li.inline-right {
    float: right;
    padding: 5px;

}
ul.header {
    display: inline;
    list-style-type: none;
}

/*
IDs
*/
#google {
    max-width: 400px;
    position: 1980/2;
}
img#grid-icon {
    display:block;
    width: 10px;
    height: 10px;
}

img#profile-picture {
    display: block;
    width: 50px;
}

#logo {
    display: block;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

#search {
    border-radius: 5px;
    height: 30px;
    width: 750px;
}
#search-bar {
    text-align: center;
    margin: auto;
}